{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <p><strong>Prénom:</strong> {{ user.FirstName }}</p>
    <p><strong>Nom:</strong> {{ user.LastName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <a href="{{ path('app_profile_edit') }}">Modifier mon profil</a>
{% endblock %}