{% extends 'base.html.twig' %}

{% block title %}Edit ComplaintResponse{% endblock %}

{% block body %}
    <h1>Edit ComplaintResponse</h1>

    {{ include('complaint_response/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_complaint_response_index') }}">back to list</a>

    {{ include('complaint_response/_delete_form.html.twig') }}
{% endblock %}
