{% extends 'base.html.twig' %}

{% block title %}New ComplaintResponse{% endblock %}

{% block body %}
    <h1>Create new ComplaintResponse</h1>

    {{ include('complaint_response/_form.html.twig') }}

    <a href="{{ path('app_complaint_response_index') }}">back to list</a>
{% endblock %}
