{% extends 'base.html.twig' %}

{% block title %}Edit Complaint{% endblock %}

{% block body %}
    <h1>Edit Complaint</h1>

    {{ include('complaint/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_complaint_index') }}">back to list</a>

    {{ include('complaint/_delete_form.html.twig') }}
{% endblock %}
